
header{
	background: #282828;
	background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@-webkit-keyframes gradient{
	1%    {
			background-position: 0% 50%
		}
	50%    {
			background-position: 100% 50%
		}
	100%   {
		   background-position: 0% 50%
		}
	}
		}

}
.container{
width: 100%;
height: 100vh;
margin: 0;
padding: 0;
}

}
.container nav{
position: absolute;
width: 100%;
top: 0;
height: 60px;
background-color: #006699;
color: white;
}
nav .webname{
float: left;
margin: 15px 0 15px 30px;
font-size: 30px;
}
nav ul{
float: right;
list-style: none;
margin: 0;
padding: 0;
width: 600px;

}
nav li{
display: inline-block;
line-height: 56px;
margin:0 25px;
}
nav li a{
display: block;
color: white;
text-decoration: none;
font-size: 17px;
transition: .5s all;
}
a:hover{
color:#1c2833;
border-bottom: 5px solid white;
}
#search{
position: relative;
margin-top: 10px;
padding: 5px 10px 5px 20px;
width: 250px;
height: 40px;
border-bottom: 2px solid#006699;
font-size: 15px;
color: #006699;
border-radius: 50px;
align-items: center;
float: right;
z-index: 0;
}

#submit{
position: relative;
left: -40px;
margin-top: 10px;
width: 40px;
height: 40px;
font-size: 20px;
border-radius: 50%;
float: right;
background-color: #006699;
color: white;
cursor: pointer;
z-index: 1;
}
#btn{
display: none;

}
.check{
font-size: 30px;
color: white;
float: right;
line-height: 60px;
margin-right: 20px;
margin-left: 10px;
cursor: pointer;
transform: rotate(-90deg);
display: none;
}
@media(max-width: 1100px){
nav ul{
position: fixed;
width: 40%;
height: 100vh;
top: 60px;
left: 100%;
text-align: center;
background-color: #2c3e50;
transition: all .5s;
}
nav ul li{
display: block;
}
nav ul li a{
font-size: 20px;
color: white;
}
.check{
display: block;
}
#btn:checked ~ ul{
left: 60%;
}
}
@media(max-width: 670px){
#submit,#search{
display: none;
}
}
import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
footer{
    background: #222;
    color: #fff;
    padding: 60px 0;
}
.container{
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}
li{
    list-style: none;
    line-height: 2;
}
a{
    text-decoration: none;
    color: #ccc;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.items{
    flex-basis: 20%;
}
.items .logo{
    text-transform: capitalize;
    font-size: 1.4em;
    color: #b6b6b6;
}
.items p{
    margin: 1.2em 0;
}
.social{
    display: flex;
}
.social a{
    height: 30px;
    width: 30px;
    background: #383535;
    border-radius: 5px;
    margin:10px 5px;
    text-align: center;
}
.social a i{
    font-size: 1.3em;
    line-height: 30px;
}
.items h3{
    position: relative;
    font-size: 1.3em;
    margin-bottom: 1rem;
    color: aliceblue;
}
.items h3::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    bottom: -4px;
    left: 0;
}
hr{
    opacity: .3;
}
footer .end{
    text-align: center;
    padding: 20px 0 0 0;
}
@media (max-width:640px){
    .items{
    flex-basis: 80%;
    margin: auto;
}

}
