
header{
	background: #282828;
	background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@-webkit-keyframes gradient{
	1%    {
			background-position: 0% 50%
		}
	50%    {
			background-position: 100% 50%
		}
	100%   {
		   background-position: 0% 50%
		}
	}
		}
body	{
	font-family:sans-serif;
	background: #2c3e50;
}	
nav{
	position: relative;
	margin: 10px auto 0;
	width: 900px;
	height: 50px;
	background: #34495e;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position:absolute;
	height: 6px;
	bottom: 0;
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;	
	transition: all .5s ease 0s;
}
a:nth-child(1){
	width: 120px;
}
nav .start-home,a:nth-child(1):hover~.animation{
	width: 120px;
	left: 0;
}
a:nth-child(2){
	width: 190px;
}
nav .start-home,a:nth-child(2):hover~.animation{
	width: 190px;
	left: 120px;
}
a:nth-child(3){
	width: 190px;
}
nav .start-home,a:nth-child(3):hover~.animation{
	width: 180px;
	left: 310px;
}
a:nth-child(4){
	width: 190px;
}
nav .start-home,a:nth-child(4):hover~.animation{
	width: 190px;
	left: 500px;
}
a:nth-child(5){
	width: 190px;
}
nav .start-home,a:nth-child(5):hover~.animation{
	width: 200px;
	left: 690px;
}
